* {
    box-sizing: border-box;
    
}

.body {
    font-family: 'Kanit', sans-serif;
    background-image: url("img/Personal.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

.container {
    width: 750px;
    margin: 0 auto;
}

.menubar {
    width: 100%;
    height: 50px;
    background: #fff;
    box-shadow: 0 0 10px #666;
}

.menubar .logo {
    float: left;
}

.menubar h1 {
    margin: 0 auto;
    font-size: 24px;
    font-weight: normal;
    padding: 10px;
}

.menubar ul.menu {
    list-style: none;
    float: right;
}

.menubar ul.menu li {
    float: left;
    margin-right: 20px;
}

.menubar ul.menu li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid transparent;
    padding-bottom: 20px;
    transition: all 0.3s ease;
}

.menubar ul.menu li a:hover {
    border-bottom: 2px solid #333;
    padding-bottom: 0;
}

.main1 {
    width: 360px;
    margin: 2rem auto;
    height: 560px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    /* overflow: hidden; */
    position: relative;
    display: inline-block;
    background-color: #fff;
}

.tag {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    background: rgb(107, 107, 107);
    padding: .5rem 2rem;
    border-radius: 5px;
    color: #ffffff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.img1 {
    height: 250px;
    background: bisque;
    overflow: hidden;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: relative;
}

.img1 img {
    width: 100%;
}

.content {
    text-align: center;
    border-bottom: 2px solid #ffffff;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.content h3 {
    border-bottom: 1px solid #ffffff;
}

.content h1 {
    margin: 1rem 0;
}

.content p {
    color: #000000;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.foot-l {
    display: flex;
    align-items: center;
    padding-left: 2.5rem;
}

.foot-l img {
    width: 40px;
    height: 40px;
}

.foot-l p {
    margin-left: .5rem;
}

.foot-r {
    padding-right: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    margin: 0 auto;
}

.crop {
    display: flex;
}

.grid2 {
    width: 100%;
    display: flex;
}

.footer2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.foot-r2 {
    padding-right: 5rem;
}

.content1 {
    text-align: center;
    border-bottom: 2px solid #ffffff;
    height: 640px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    padding-top: 4rem;
}

.content1 h3 {
    border-bottom: 1px solid #ffffff;
}

.content1 h1 {
    margin: 1rem 0;
}

.content1 p {
    color: #000000;
    font-size: 20px;
}

.main2 {
    width: 800px;
    margin: 2rem auto;
    height: 700px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    /* overflow: hidden; */
    position: relative;
    display: inline-block;
    background-color: #fff;
}

.img2 {
    height: 450px;
    background: bisque;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    margin: 5rem 3rem 3rem;
}

.img2 img {
    width: 100%;
}

.flex {
    display: flex;
}

.main3 {
    width: 600px;
    margin: 2rem auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    position: relative;
    display: inline-block;
    background-color: #fff;
}

.content3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
}

.content3-l1 {
    display: flex;

    align-items: center;
}

.content3-l1 img {
    width: 40px;
    height: 40px;
}
footer {
    background: rgb(255, 255, 255);
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
}
footer p {
    margin: 0;
}